body {
    margin: 0;
    background: #f9fff6;
    text-align: center;
}

h2 {
    display: block;
    margin-top: 2em !important;
}

#main_wrapper {
    max-width: 1000px;
}

h2.trpfrog::before {
    background-image: none;
    width: 0;
    margin-right: 0;
}

p.images {
    text-align: center;
}

@media screen and (min-width:800px) {
    .main_window img {
        border-radius: 15px;
        width: 80%;
        margin: 1em 10%;
    }
}
@media screen and (max-width:800px) {
    .main_window img {
        border-radius: 10px;
        width: 100%;
        margin: 0.5em 0;
    }
    .main_window {
        border-radius: 0;
    }
    main {
        margin: 0;
    }
}


h2::before {
    background-image: none !important;
    width: 0 !important;
    margin-right: 0 !important;
}

code {
    background-color: #313131 !important;
    font-family: 'Noto Sans Mono', 'Noto Sans JP', monospace;
    font-size: 0.9em;
}

code:not(.hljs) {
    color: white;
    padding: 0 4px;
    font-size: 0.8em;
    display: inline-block;
    border-radius: 5px;
    vertical-align: 5%;
}

.hljs {
    border-radius: 10px;
    padding-left: 1.5em !important;
}