footer{
    background: #163600;
    justify-content: space-between;
    width: 100%;
    height: 6em;
    display: grid;
    grid-template-areas:"c s";
    grid-template-columns: 30em 500px;
    grid-template-rows: 1fr;
}


footer #copyright{
    grid-area: c;
    /*grid-area: t;*/
    text-align: left;
    color: #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5em;
    padding-left: 1em;
    padding-top:1.4em;
    margin-bottom: 0;
    margin-top: 0;

    position: relative;
    top: 50%;
    left: 2em;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

footer #share{
    grid-area: s;
    text-align: right;
    margin-right: 5em;
    padding-top: 1.8em;
    margin-bottom: 0;
    margin-top: 0;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
footer #share .shareButton{
    margin-left: 0.3em;
}

footer #share .shareButton:hover{
    filter: drop-shadow(0em 0.1em 0.3em rgba(255, 255, 255, 0.74));
}