@import "grid.css";
@import "header.css";
@import "footer.css";
@import "h2icon.css";
@import "../stylesheets/linkbutton_grid.css";

body{
    margin: 0;
    background: #f9fff6;
    /*background: -webkit-linear-gradient(top,*/
    /*#163600 1%,*/
    /*#f9fff6 2%,*/
    /*#f9fff6 99%,*/
    /*#163600 100%);*/
}
main{
    text-align: center;
}

main #wrapper {
    display: inline-grid;
    max-width: 1000px;
}

.window {
    margin: 1em;
    background-color: rgba(220, 255, 148, 0.67);
    border-radius: 33px;
    text-align: left;
    padding: 2em;
    max-width: 1000px;
}

.window h2 {
    margin: 0;
}