header{
    position: fixed;
    background: #66a928;
    justify-content: space-between;
    width: 100%;
    height: 6em;
    filter: drop-shadow(0em 0.1em 0.3em rgba(0,0,0,0.4));
}

#header_wrapper{
    display: flex;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
    justify-content: space-between;
}


#header_wrapper h1{
    text-align: left;
    display: inline-block;
    color: #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

#header_wrapper h1:before {
    content:'';
    display: inline-block;
    width:1.7em;
    height:1.7em;
    background-image: url('../images/icons/trpfrog.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 0.3em;
}

#header_wrapper nav{
    text-align: right;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
}

.headerButton{
    font-family: 'Comfortaa', cursive;
    text-align: left;
    color: #ffffff;
    /*font-weight: bold;*/
    /*margin-bottom: 8px;*/
    /*margin-right: 4px;*/
    text-decoration: none; /*リンクの下線を消す*/
    font-size:1.5em;

    /*ボタン上のテキストの選択をさせない*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.headerButton:hover{
    color: #90e200
}

nav li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
    text-decoration: none; /*リンクの下線を消す*/
    margin-right: 0.8em;
    padding-left: 1.2em;
    /*ボタン上のテキストの選択をさせない*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

nav li + li {
    border-left: 2px solid #ffffff;
}

#sp_menu{
    display: none;
}

@media screen and (max-width:700px) {
    header{
        justify-content: normal;
    }

    nav ul{
        display: none;
    }

    #header_wrapper h1:after {
        content:'';
        display: inline-block;
        width:1.7em;
        height:1.7em;
        background-image: url('../images/icons/trpfrog.png');
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-left: 0.3em;
    }

    #header_wrapper{
        text-align: center;
        display: block;
    }

    #header_wrapper h1{
        text-align: center;
        justify-content: normal;
        display: block;
    }

    #sp_menu{
        /*配置*/
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 100;
    }

    /****メニュー開閉ボタン****/
    #sp_menu div{
        /*デザイン*/
        width: 30px;
        height: 30px;
        background: rgba(200,200,200,1);
        /*配置*/
        overflow: hidden;
        position: absolute;
        right: 0;
    }

    #sp_menu .menuopen{
        /*デザイン*/
        color: rgba(255,255,255,1);
        font-size: 20px;
        /*配置*/
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: auto;
    }

    #sp_menu .menuclose{
        /*デザイン*/
        color: rgba(255,255,255,1);
        font-size: 20px;
        /*配置*/
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: auto;
    }

    /****メニュー一覧****/
    #sp_menu ul{
        /*デザイン*/
        background: rgba(200,200,200,1);
        width: 80%;
        /*配置*/
        position: absolute;
        top: 30px;/*#menu divの高さ*/
        right: 0;
        display: none;
    }

    #sp_menu li{
        /*デザイン*/
        padding: 10px;
        color: rgba(0,0,0,1);
        border-bottom: 1px rgba(255,255,255,1) solid;
        /*配置*/
        pointer-events: auto;
    }

    /****メニューオープン時****/
    #sp_menu:target .menuopen{
        /*配置*/
        display: none;
    }

    #sp_menu:target .menuclose{
        /*配置*/
        display: block;
    }

    #sp_menu:target ul{
        /*配置*/
        display: block;
    }

    /*** メインエフェクト ***/
    #sp_main{
        /*デザイン*/
        background: #fff;/*ページ背景色・背景画像はここで設定*/
        /*アニメーション*/
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    #sp_menu:target ~ #main{
        -webkit-filter:brightness(70%);
        -moz-filter:brightness(70%);
        -ms-filter:brightness(70%);
        filter:brightness(70%);
    }

    /* https://spmenucss.imagecontrol.jp/ によるコード*/
}


