@import "about_me.css";
@import "main_grid_sp.css";
@media screen and (min-width:800px){
#store_links{
    display: block;
}

    main {
        max-height: 100%;
        text-align: center;
    }
    @media screen and (min-width:980px){
        main #main_wrapper {
            max-width: 1000px;
            display: inline-grid;
            grid-template-areas: "about_me about_me about_me"
                                 "sticker icons icons"
                                 "sticker music music"
                                 "bird music music"
                                 "balloon balloon balloon"
                                 "links links music_game";
            grid-template-columns: 3fr 2fr 3fr; /* ヨコ方向のセルの長さを単位[Fr](Fraction)で定める */
            /*grid-template-rows: auto 350px 110px 280px 540px; !* タテ方向のセルの長さを単位[Fr](Fraction)で定める *!*/
            text-align: left;
        }
    }
    @media screen and (max-width:980px){
        main #main_wrapper {
            max-width: 1000px;
            display: inline-grid;
            grid-template-areas:
                    "about_me about_me"
                    "sticker links"
                    "bird links"
                    "icons icons"
                    "music music"
                    "balloon balloon"
                    "music_game music_game";

            grid-template-columns: 1fr 1fr; /* ヨコ方向のセルの長さを単位[Fr](Fraction)で定める */
            /*grid-template-rows: auto auto auto auto auto auto; !* タテ方向のセルの長さを単位[Fr](Fraction)で定める *!*/
            text-align: left;

        }
    }

    .main_window {
        margin: 1em;
        background-color: rgba(220, 255, 148, 0.67);
        border-radius: 33px;
        text-align: left;
    }

    .main_window h2 {
        margin: 0;
    }

    #music_game {
        grid-area: music_game;
        padding: 40px 40px 40px 40px;
    }

    #links {
        grid-area: links;
        padding: 40px 40px 40px 40px;
    }

    #music {
        grid-area: music;
        padding: 40px 40px 40px 40px;
    }

    #icons {
        grid-area: icons;
        padding: 30px 40px 40px 40px;
    }

    #icons .top_icons {
        width: 24%;
    }


    #balloon {
        grid-area: balloon;
        padding: 40px 40px 40px 40px;
    }


    #sticker {
        grid-area: sticker;
        padding: 30px 30px 30px 30px;
    }

    #bird {
        grid-area: bird;
        text-align: center;
        padding: 40px 40px 40px 20px;
        /*display: flex;*/
        /*align-items: center;*/
    }

    #bird h2 {
        margin: 0;
    }

    #bird .aa {
        white-space: pre;
        font-size: 45%;
        line-height: 12px;
        display: inline-block;
    }
}