main table {
    width: 100%;
}

main tbody {
    width: 100%;
}

main tr {
    display: block;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    list-style-type: none;
    margin: 10px 0;
}

main tr td {
    width: 100%;
}

main h2 {
    display: block;
    font-size: 30px;
}

main h2 a {
    color: #000;
}

.item-label {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    color: white; 
    text-shadow: none;
    background-color: #66a928;
    border-radius: 10px;
}