.button{
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 4px;
  text-decoration: none; /*リンクの下線を消す*/
  width:150px;
  height: 14px;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  padding:8px 0 10px;
  color:rgb(0, 0, 0);
  background-color:#90e200;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #555;
  /*ボタン上のテキストの選択をさせない*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  /*リンク以外でもカーソルを指の形にする*/
  cursor: pointer;
}
.button:hover{
  color: rgb(255, 255, 255);
}
.button:active{
  box-shadow: 1px 1px 3px #555
}

.headerButton{
  background-color:rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 4px;
  text-decoration: none; /*リンクの下線を消す*/
  min-width:5em;
  width:15%;
  height: 1.5em;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding:8px 0 10px;
  color:rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(66, 66, 66, 0.48);
}
.headerButton:hover{
  color: rgb(0, 93, 145);
}
.headerButton:active{
  box-shadow: 1px 1px 3px #555
}
