h2{
  text-shadow:2px 2px 2px rgb(104, 217, 241);
  margin-top: 30px;
  margin-bottom: -5px;
}

h2:before {
  content:'';
  display: inline-block;
  width:40px;
  height:40px;
  background-image: url('../images/icons/trpfrog.webp');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 5px;
}

h2.ice:before{background-image: url('../images/icons/ice.webp');}
h2.think:before{background-image: url('../images/icons/thinking.webp');}
h2.noa:before{background-image: url('../images/icons/noa.webp');}
h2.think:before{background-image: url('../images/icons/thinking.webp');}
h2.pumpkin:before{background-image: url('../images/icons/pumpkin.webp');}
h2.car:before{background-image: url('../images/icons/car.webp');}
h2.evil:before{background-image: url('../images/icons/evil.webp');}
h2.heart:before{background-image: url('../images/icons/heart.webp');}
h2.robot:before{background-image: url('../images/icons/robot.webp');}
h2.otaku:before{background-image: url('../images/icons/otaku.webp');}
h2.shark:before{background-image: url('../images/icons/shark.webp');}
h2.locked:before{background-image: url('../images/icons/locked.webp');}
h2.hina:before{background-image: url('../images/icons/hina.webp');}
