@charset "UTF-8";

@import "basebody.css";
@import "two_columns.css";
@import "h2icon.css";
@import "button.css";
@import "plugin.css";
@import "linkbutton_grid.css";


.centering{
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

pre.aa {
  font-size: 18px;
  line-height: 1;
  margin-left: 15px;
  font-weight: bold;
}
