.balloon{
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 4px;
  margin-top: 4px;
}

.google-maps {
  position: relative;
  padding-bottom: 120%;
  height: 0;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgb(139, 139, 139);
  border-radius: 10px;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* TwitterがiPhoneで見るとはみ出る対策 */
/* https://ufufu.tokyo/web/twitter_responsive/ を参考にしました。*/
@media screen and (max-width: 768px) and (min-width: 480px) {
  iframe .twitter-timeline-rendered{
    width: 490px !important;
  }
}

@media screen and (max-width: 480px) {
  iframe.twitter-timeline-rendered {
    width: 450px !important;
    margin:0 auto;
  }
}

.timeline-Widget {
  max-width: 300px!important;
  width:200px !important;
}
