.balloon{
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 4px;
  margin-top: 4px;
}

.google-maps {
  position: relative;
  padding-bottom: 120%;
  height: 0;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgb(139, 139, 139);
  border-radius: 10px;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* TwitterがiPhoneで見るとはみ出る対策 */
/* https://flux-capacitor.me/twitterウィジットをios-safariに設置するとはみ出す-1277.html を参考にしました。*/
.twitterBox {
  width: 100%;
}
.twitterBox iframe {
  width: 90% !important;
}
