.platinum{
    filter:drop-shadow(1px 1px 0.6pt rgba(0, 0, 0,30));
    color: #FF7C00;
    background: -webkit-linear-gradient(top, #fff677 30%, #fffbb9 50%, #ffcb5d 50%, #fff4b3 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rainbow{
    filter:drop-shadow(1px 1px 0.6pt rgba(0, 0, 0,30));
    color: #FF8C00;
    background: -webkit-linear-gradient(top,
    red 15%,
    orange,
    yellow,
    #00d907 60%,
    aqua ,
    blue,
    purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.silver{
    filter:drop-shadow(1px 1px 0.6pt rgba(0, 0, 0,30));
    background: -webkit-linear-gradient(top, #fffdfd 30%,#cbc9c9 50%, #aeacac 51%, #828080 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}