@import "header.css";
@import "footer.css";
@import "common/wide_navigation.css";
@import "backtotop.css";

:root {
    --window-bkg-color: rgba(159, 212, 51, 0.2);
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width:800px) {
    main {
        padding: 0;
        text-align: center;
    }

    @media screen and (max-width: 500px) {
        main {
            margin: 0.5em;
        }
    }
}

main {
    margin-top: 0;
    max-height: 100%;
    text-align: center;
}

#title h1{
    text-align: left;
    font-size: 3em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 20px 0px;
}
#title{
    padding: 0 40px;
}

body {
    margin: 0;
    height: 100vh;
    background: #f9fff6;
    text-align: center;
}

.main_window {
    transition: .5s;
}

@media screen and (max-width:980px){
    #title{
        padding: 0 20px;
    }
}

@media screen and (max-width:800px){
    #title h1{
        font-size: 1.5em;
    }
}

@media screen and (min-width:980px){
    main #main_wrapper {
        width: 100%;
        max-width: 1000px;
        display: inline-grid;
        grid-template-columns: 1fr;
        text-align: left;
    }
}
@media screen and (max-width:980px){
    main #main_wrapper {
        width: 100%;
        max-width: 1000px;
        display: inline-grid;
        text-align: left;
    }
}

@media screen and (min-width:800px) {
    .main_window {
        margin: 1em;
        background-color: var(--window-bkg-color);
        padding: 40px 40px 40px 40px;
        border-radius: 33px;
        text-align: left;
    }
}
@media screen and (max-width:800px) {
    .main_window {
        margin: 5px 0;
        background-color: var(--window-bkg-color);
        border-radius: 22px;
        text-align: left;
        padding: 20px 20px 20px 20px;
    }
}

.main_window h2 {
    margin: 0;
}

@media (prefers-color-scheme: dark){
    body {
        background: #061300;
        color: white;
    }
    a:link:not(.linkButton) {
        color: aquamarine;
    }
    a:visited:not(.linkButton) {
        color: plum;
    }
    .main_window {
        background-color: var(--window-bkg-color);
    }
}